  {% extends 'base.html' %}
        {% block content %}
        <div style="padding-top:225px; text-align:center;" id="login" class="animate form">
        {% for comment in comments %}
    <div class="comment">
        <div class="time">{{ comment.created_on }} | {{ comment.author }}</div>
        <div class="body">{{ comment.text|linebreaks }}</div>
    </div>
{% endfor %}

<div id="addc">Add a comment</div>
<!-- Comment form  -->
<form action="{% url post.views.view_comment post.id %}" method="POST">{% csrf_token %}
    <div id="cform">
        Name: {{ form.author }}
        <p>{{ form.text|linebreaks }}</p>
    </div>
    <div id="submit"><input type="submit" value="Submit"></div>
</form>
       		
        {% endblock %}